.newsfeed-icon {
  position: fixed;
  bottom: 1vh;
  right: 6vw;
  margin: 0 2em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2em;

  &:hover {
    color: #FFF;

    .newsfeed-label {
      visibility: visible
    }
  }
}