.ql-icon {
  font-size: 1.5em;
  font-weight: 300;
  position: fixed;
  top: 3vh;
  left: 3vw;
  margin: 0px 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: #FFF;
  }
}