.ql-icon {
  font-size: 1.5em;
  font-weight: 300;
  position: fixed;
  top: 3vh;
  left: 3vw;
  margin: 0px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: #FFF;
  }

  .quickDropdown {
      width: 175px;
      position: absolute;
      color: #D9D9D9;
      background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 100%);
      z-index: 1;

      border-radius: 5px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
      font-size:.7em;

      h2 {
        margin: 0px 0px 5px 0px;
        padding: 10px;
        text-align: center;

        font-size: 1.5em;
        font-weight: bold;
        color: #FFF;

        border-bottom: .4px solid rgba(255, 255, 255, 0.5);
      }

      input {
        display: block;
        padding: 5px;
        margin: 5px auto;
        width: 90%;

        background: rgba(255,255,255,.2);
        color: #FFF;
        border: none;
        border-radius: 3px;
        transition: .3s;
        outline: none;
      }

      input::placeholder {
        color: rgba(255,255,255,.5);
      }

      input:focus::placeholder {
        color: #FFF;
        transition: .3s;
      }

      #invisibleInput {
        margin: 0px 0px;
        padding: 0px;
        width: 1px;
        height: 1px;
        opacity: 0;
      }
    }

    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      word-break: break-all;
      max-width: 250px;
      margin: 0px 5px 0px 0px;
      padding: 5px 0px 5px 10px;

      a {
        cursor: pointer;
        text-decoration: none;
        color: lightgrey;
        font-size: 1em;
      }
    }

    li:hover{
      color: #FFF;
      font-weight: bold;
      border-left: 5px solid #FFD63A;

      a {
        cursor: pointer;
        font-weight: bold;
        color: #FFF;
      }

      .link-delete {
        color: rgba(255,255,255,0.5);
      }

      .link-delete:hover {
        border-radius: 50%;
        border: 2px solid #FFD63A;
        color: #FFD63A;
      }
    }

    .link-delete {
      height: 1.75em;
      float: right;
      background-color: transparent;
      outline: none;
      border: 2px solid rgba(0,0,0,0);
      color: transparent;
      cursor: pointer;
      font-weight: bold;
      font-size: .8em;
    }

    .siteButton{
      text-align: center;
      width: 90%;
      display: block;
      padding: 3px;
      margin: 10px auto;
      cursor: pointer;
      font-size: 1em;
      color: #D9D9D9;
      background: transparent;
      border: 1px solid rgba(255,255,255,.4);
      outline: none;
      border-radius: 3px;
      transition: 0.3s;
    }

    .addSite:hover {
      background: #43ac00;
      color: rgba(0,0,0,0.8);
      border: 1px solid rgba(0,0,0,0);
      font-weight: bold;
      transition: 0.3s;
    }
}