/*#ffd63a*/

html, body {
	margin: 0px;
	width:100%;
	height:100%;
	font-family:'Quicksand';
	background-color:#D7CEC7;
}

body {
	overflow: hidden;
}

nav {
	position:absolute;
	width:100%;
	display: flex;
	justify-content: space-around;
	color: #fff;
}

nav ul {
	display:flex;
	width: 550px;
	justify-content: space-between;
	list-style-type: none;
	margin-right: 38px;
}

nav a {
	color:#0E0B16;
	text-decoration: none;
	outline:none;
}

nav li {
	cursor: pointer;
	text-align: center;
	background-color:#D7CEC7;
	padding:10px;
	width: 100px;
	font-family: 'Quicksand';
	font-size: 18px;
	border:2px solid #0E0B16;
	border-radius: 5px;
	transition: .5s;
	outline:none;
}

nav li:hover {
	background-color:#0E0B16;
	color:#D7CEC7; 
	transition: .5s;
}

nav li:hover a {
	color:#D7CEC7;
}

main {
	display:flex;
	margin:0px;
	width:100%;
	height:100%;
	background-color:#D7CEC7;
	align-items: center;
	justify-content: center;
	color:#0E0B16;
}

main .mainInfo {
	display:flex;
	flex-direction: column;
	text-align: center;
}

.mainInfo {
	position: absolute;
	padding: 25px;
	margin:0px;
	width: 420px;
	height: 420px;
	border:3px solid #0E0B16;
	transform: rotate(45deg);
}

.developerInfo {
	transform: rotate(-45deg);
	margin-left: 10px;
}
.mainInfo h1 {
	margin: 10px 0px 15px;
	font-size: 70px;
}

.mainInfo p {
	font-size:20px;
}

.mainInfo .downloadLink {
	cursor: pointer;
	background-color:#0E0B16;
	padding:10px;
	width: 175px;
	color:white;
	font-family: 'Quicksand';
	font-size: 18px;
	border:2px solid #0E0B16;
	border-radius: 5px;
	transition: .5s;
	outline:none;
}

.mainInfo .downloadLink:hover {
	background-color:#D7CEC7;
	color:#0E0B16;
	transition: .5s;
}

.mainInfo img {
	width: 255px;
	height: 195px;
}