* {
  box-sizing: border-box; }

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  font-family: Lato, helvetica;
  font-size: 100% !important; }
  body .overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.addUrl {
  display: none; }

.linkNote {
  display: flex;
  justify-content: space-around;
  /*----------------------------------------------------*/
  /*Quick Links and Sticky Notes*/
  /*----------------------------------------------------*/ }
  .linkNote .quickLinks {
    display: flex;
    margin: 20px auto 0px 40px; }
    .linkNote .quickLinks .dropdownButton {
      display: flex;
      cursor: pointer; }
    .linkNote .quickLinks p {
      margin: 0px 0px 0px 0px;
      padding: 10px 8px 8px 8px;
      font-size: 1.4em;
      color: rgba(255, 255, 255, 0.8); }
    .linkNote .quickLinks i {
      margin: 6px 6px 6px 20px;
      padding: 0px;
      color: rgba(255, 255, 255, 0.6);
      font-size: 1.75em; }
    .linkNote .quickLinks .quickDropdown {
      position: absolute;
      margin-top: 40px;
      padding: 20px;
      color: lightgrey;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
      border: 1px solid transparent;
      border-radius: 15px;
      transition: .5s;
      opacity: 0;
      /*Only properties with number values can be animated in CSS. Properties like display and visibilty do not have number values.*/ }
      .linkNote .quickLinks .quickDropdown input {
        display: block;
        width: 115px;
        padding: 2px;
        margin: 7px 0px 7px 0px;
        background-color: #333;
        font-weight: 700;
        border: 1px solid #333;
        border-radius: 5px;
        transition: .3s; }
      .linkNote .quickLinks .quickDropdown input:focus::placeholder {
        /*::placeholder is a selector that selects the content within the placehold attribute.*/
        color: #D9D9D9;
        transition: .3s; }
      .linkNote .quickLinks .quickDropdown #invisibleInput {
        opacity: 0;
        position: absolute; }
      .linkNote .quickLinks .quickDropdown button {
        margin: 0px; }
    .linkNote .quickLinks h3 {
      margin: 0px 0px 10px 0px;
      padding: 0px;
      font-size: 1.4em;
      font-weight: 300;
      border-bottom: 1px solid lightgrey; }
    .linkNote .quickLinks ul {
      list-style-type: none;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px; }
    .linkNote .quickLinks li {
      margin: 10px 0px 10px 0px;
      padding: 0px;
      font-weight: 700;
      cursor: pointer;
      border-bottom: 1px solid transparent; }
    .linkNote .quickLinks a {
      text-decoration: none;
      color: lightgrey; }
    .linkNote .quickLinks li:hover {
      border-bottom: 1px solid white; }
    .linkNote .quickLinks .addSite {
      padding: 3px;
      margin: 10px 0px 10px 0px;
      font-weight: 700;
      cursor: pointer;
      font-size: 1em;
      color: rgba(255, 255, 255, 0.6);
      background-color: rgba(0, 0, 0, 0.7);
      border: 1px solid lightgrey;
      border-radius: 5px; }
    .linkNote .quickLinks .addSite:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: rgba(0, 0, 0, 0.7);
      border: 1px solid transparent; }
  .linkNote .quickLinks:hover p {
    color: #FFF; }
  .linkNote .quickLinks:hover i {
    color: #FFF; }
  .linkNote .stickyNotes {
    display: flex;
    margin: 5px 30px 10px 10px;
    cursor: pointer; }
    .linkNote .stickyNotes p {
      margin: 8px 0px;
      padding: 10px 5px 0px 0px;
      color: rgba(255, 255, 255, 0.6);
      font-size: 2em; }
    .linkNote .stickyNotes i {
      margin: 10px 0px 0px 10px;
      padding: 10px 0px 0px 0px;
      color: rgba(255, 255, 255, 0.6);
      font-size: 2.3em; }
  .linkNote .stickyNotes:hover p {
    color: #FFF; }
  .linkNote .stickyNotes:hover i {
    color: #FFF; }
  .linkNote .quickLinks:hover .quickDropdown {
    opacity: 1;
    z-index: 1;
    transition: .5s; }

/*----------------------------------------*/
/*Time and Pomodoro Display*/
/*----------------------------------------*/
.clock-and-greeting {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.user-greeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  color: white;
  font-size: 2em; }
  .user-greeting h1 {
    padding: 0px;
    margin: 0px; }
  .user-greeting button {
    outline: none;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Lato, helvetica;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms ease; }
  .user-greeting button:hover {
    text-decoration: underline;
    transition: 300ms ease; }

#name-form {
  display: none; }

#name-input {
  color: #fff;
  padding: .5%;
  margin: 1%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: none; }

#name-submit {
  opacity: 0;
  position: absolute; }

.time-display {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  color: white;
  font-size: 5.5em; }
  .time-display p {
    padding: 0px;
    margin: 0; }

.toggle-pomodoro {
  display: flex;
  justify-content: center; }
  .toggle-pomodoro button {
    padding: 3px 10px;
    border-radius: 3px;
    outline: none;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Lato, helvetica;
    font-size: 1.2em;
    font-weight: 600;
    transition: 300ms ease; }
  .toggle-pomodoro button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 300ms ease; }

.stop, .pause, .reset, .work-break {
  display: none; }

/*----------------------------------------*/
/*Color Palette*/
/*----------------------------------------*/
footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px; }
  footer p {
    margin: 60px 0px 0px 0px;
    padding: 0px;
    color: #D9D9D9;
    font-size: .9em; }
    footer p a {
      text-decoration: none;
      color: #D9D9D9; }
    footer p a:hover {
      border-bottom: 1px solid #D9D9D9; }
  footer .listArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    margin: auto 0px; }
    footer .listArea ul {
      display: flex;
      margin: auto 0px;
      padding: 0px;
      list-style-type: none; }
      footer .listArea ul li {
        cursor: pointer;
        margin: auto;
        padding: 5px; }
        footer .listArea ul li i {
          margin: 0px;
          padding: 20px 20px 0px 20px;
          color: rgba(255, 255, 255, 0.6);
          font-size: 1.8em;
          transition: .5s; }
        footer .listArea ul li .iconHover {
          opacity: 0;
          margin: 0px 20px;
          padding: 0px;
          color: #FFF;
          font-size: 1em;
          transition: .5s; }
      footer .listArea ul li:hover .iconHover {
        opacity: 1;
        visibility: visible;
        transition: .5s; }
      footer .listArea ul li:hover i {
        color: #FFF;
        transition: .5s; }

.tools {
  display: flex;
  width: 30%;
  z-index: 1;
  margin: auto 0px;
  color: #D9D9D9; }

.color-picker-panel {
  background: rgba(0, 0, 0, 0.6);
  width: 310px;
  border-radius: 8px;
  border: 2px solid #444;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 80px;
  left: 20px; }

.panel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0 10px 10px; }

.panel-row:first-child {
  margin-top: 10px;
  margin-bottom: 6px; }

.panel-row:after {
  content: "";
  display: table;
  clear: both; }

.panel-header {
  background: #15191C;
  padding: 8px;
  margin: 0 -10px 10px;
  text-align: center; }

.preview {
  border: 2px solid #444;
  border-radius: 4px;
  background: #ccc;
  width: 60px;
  height: 35px;
  margin-bottom: 5px; }

.panel-col {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.swatch {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #ccc;
  border-radius: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  box-sizing: border-box;
  border: 2px solid #444;
  cursor: pointer; }

.default-swatches {
  width: 212px; }

.default-swatches .swatch:nth-child(6n + 1) {
  margin-left: 0px; }

.color-cursor {
  border-radius: 100%;
  background: #ccc;
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  border: 2px solid #fff;
  transition: all .2s ease; }

.color-cursor.dragging {
  transition: none; }

.color-cursor#spectrum-cursor {
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  top: 0;
  left: 0; }

.color-cursor#hue-cursor {
  top: 0;
  left: 50%;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-left: -10px;
  pointer-events: none; }

.spectrum-map {
  position: relative;
  width: 212px;
  height: 200px;
  overflow: hidden; }

#spectrum-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc; }

.hue-map {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 29px;
  width: 10px; }

#hue-canvas {
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc; }

.tog-button {
  background: rgba(255, 255, 255, 0.6);
  border: 0;
  border-radius: 4px;
  color: #303030;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
  padding: 4px; }

.tog-button:active {
  background: #424242; }

.tog-button.mode-toggle {
  width: 65px;
  height: 35px; }

.value-fields {
  display: none;
  align-items: center; }

.value-fields.active {
  display: flex; }

.value-fields .field-label {
  margin-right: 5px;
  font-family: Lato, helvetica;
  font-size: 1rem; }

.value-fields .field-input {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #444;
  box-sizing: border-box;
  border-radius: 2px;
  line-height: 38px;
  padding: 0 4px;
  text-align: center;
  color: #CBCBCB;
  display: block;
  outline: none; }

.rgb-fields .field-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato, helvetica;
  font-size: 1rem; }

.rgb-fields .field-input {
  width: 55px;
  margin-right: 10px; }

.hex-field .field-input {
  width: 155px;
  font-family: Lato, helvetica;
  font-size: 1rem; }

.tools-container {
  background: rgba(0, 0, 0, 0.6);
  width: 310px;
  border-radius: 8px;
  border: 2px solid #444;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 80px;
  left: 110px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.tools-container button {
  padding: 5px;
  margin: 5px;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  font-family: Lato, Helvetica;
  font-size: 1.3em; }

.tools-container button:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  cursor: pointer; }

.valid-container {
  color: #C4C4C4;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  border: 2px solid #444;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 75vw;
  bottom: 12.5vh;
  left: 12.5vw; }

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 5px;
  padding-bottom: 30px; }
  .instructions h3, .instructions p {
    margin: 0px;
    padding: 5px; }

.formfields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  width: 95%;
  height: 80%; }
  .formfields legend {
    padding: 5px; }
  .formfields section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    overflow: scroll; }
  .formfields textarea {
    overflow: scroll;
    font-family: Lato, Helvetica;
    font-weight: 700;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #252525; }
  .formfields #check-html, .formfields #check-css {
    margin-top: 5px;
    padding: 5px;
    background: transparent;
    outline: none;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    color: #C4C4C4;
    cursor: pointer; }
  .formfields #check-html:hover, .formfields #check-css:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.7); }

.validate-form {
  width: 35vw;
  height: 100%;
  overflow: hidden; }

#html-validated, #css-validated {
  max-width: 100%;
  max-height: 85%;
  overflow: scroll;
  white-space: pre-wrap;
  background-color: rgba(255, 255, 255, 0.8);
  color: #252525; }
  #html-validated code, #css-validated code {
    font-family: Lato, Helvetica;
    font-weight: 700; }

.tools-icon-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  width: 100%;
  margin: 0px;
  list-style-type: none; }
  .tools-icon-list li {
    display: flex;
    padding: 0px 20px;
    cursor: pointer; }
    .tools-icon-list li button {
      color: rgba(255, 255, 255, 0.6);
      font-size: 2.3em; }

.tools-icon {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: #D9D9D9; }

.tools-icon:hover {
  color: #FFF; }

#loader-icon {
  font-size: 2em;
  margin-left: 10px;
  transition: all 500ms linear; }

.spin {
  animation-name: rotate;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.page-speed-container {
  margin: 20px;
  padding: 0px 5px;
  color: #C4C4C4;
  background: #000;
  border-radius: 8px;
  border: 2px solid #444;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 90vw;
  width: 90%;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 3%; }

#speed-page-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#psc-box {
  display: flex;
  flex-direction: column; }

#CheckedUrl {
  display: flex;
  justify-content: center;
  align-items: center; }

.psc-top {
  max-height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center; }

#error {
  text-align: center;
  color: red; }

#path {
  width: 60%;
  height: 25px;
  padding: 5px;
  outline: none;
  border: 1px solid #000;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
  color: #FFF; }

#path::placeholder {
  color: #C4C4C4; }

#analyzePage, #switch-speed-view {
  padding: 10px;
  margin: 10px;
  background: #7BB8FF;
  outline: none;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  color: #FFF;
  cursor: pointer;
  font-family: Lato, Helvetica;
  font-size: 1em;
  letter-spacing: 2px; }

#analyzePage:hover {
  background: #005bc6; }

#switch-speed-view {
  background: #ff6161; }

#switch-speed-view:hover {
  background: #b50000; }

.returnresults {
  padding: 10px;
  width: 98%;
  max-height: 60vh;
  overflow: scroll;
  background: transparent; }

.page-speed-box {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #C4C4C4;
  padding: 5px;
  font-family: Lato, helvetica;
  font-size: 12px;
  overflow: scroll;
  /*max-height: 50vh;*/
  white-space: pre-line; }

/*#output {
  border: 2px dotted red;
}

#possible {
  border: 2px dotted green;
}

#found {
  border: 2px dotted orange;
}*/
#results-speed-title {
  margin: 0px;
  padding: 10px 0px;
  font-size: 16px;
  color: #FFF; }

.speed-score-box {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.speed-score-box span {
  padding-left: 30px; }

.optimizationTitles {
  font-size: 18px;
  color: #FFF; }

.click-details {
  padding: 5px 10px;
  margin: 10px;
  background: #43ac00;
  outline: none;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  color: #FFF;
  cursor: pointer;
  font-family: Lato, Helvetica;
  font-size: 1em;
  letter-spacing: 2px; }

.click-details:hover {
  background: #235900; }

.addInfo {
  padding-left: 40px; }

.addFoundOptimizations {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.addFoundInfo {
  padding: 0px 0px 10px 40px;
  margin-bottom: 10px; }

.speedTitles {
  padding-left: 5px;
  margin: 0px;
  font-family: Lato, Helvetica;
  font-size: 14px; }

.learn-more-link {
  text-decoration: none;
  color: #ff7819;
  font-weight: 700; }

.learn-more-link:hover {
  text-decoration: underline; }

.newsfeed-wrapper {
  display: none;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 20%;
  right: 20%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6); }

.newsfeed {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  .newsfeed > :first-child {
    margin-top: 0; }
  .newsfeed > :last-child {
    margin-bottom: 0; }

.article {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  margin: 1% 0;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.9); }
  .article > a {
    width: 20%;
    margin: 0;
    padding: 0;
    background-size: cover; }
  .article > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin-left: 2.5%; }
    .article > div > a {
      margin: 1%;
      padding: 1%;
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none; }
    .article > div > a:hover {
      text-decoration: underline; }
    .article > div > p {
      margin: 1%;
      padding: 1%;
      color: #fff; }

.stickyContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 220px;
  height: 180px;
  outline: 1px solid transparent;
  border: 1px solid #7da4d7;
  border-radius: 10px; }

.stickBar {
  display: flex;
  margin: 0px;
  padding: 0px 0px 15px 0px;
  color: white; }

.stickIcon {
  font-size: 1.3em;
  margin: 10px 10px 0px 10px;
  transition: .5s; }

.stickIcon:hover {
  cursor: pointer;
  color: #D9D9D9;
  transition: .5s; }

.stickyContainer p {
  cursor: pointer;
  font-weight: bold;
  margin: 5px 0px;
  padding: 5px 0px;
  font-size: .98em;
  transition: .5s; }

.stickyContainer p:hover {
  cursor: pointer;
  color: #D9D9D9;
  transition: .5s; }

.stickyContainer input {
  display: none;
  height: 20px;
  width: 90px;
  padding: 2px;
  margin: 10px 0px 10px 0px;
  outline: none;
  font-size: .9em;
  font-family: 'Lato';
  font-weight: 700;
  background-color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 5px; }

.stickLeft {
  margin-right: auto; }

.fa-trash {
  margin-left: auto; }

.stickNote {
  width: 200px;
  height: 100%;
  margin: 10px;
  padding: 0px;
  font-size: .95em;
  color: #333;
  font-family: 'Lato';
  font-weight: 700;
  border: none;
  outline: none;
  resize: none; }

.blueBar {
  background-color: #1267d6; }

.blueArea {
  background-color: #7da4d7;
  border: 1px solid #7da4d7; }

.greenBar {
  background-color: #16810a; }

.greenArea {
  background-color: #80d676;
  border: 1px solid #80d676; }

.yellowBar {
  background-color: #f4af15; }

.yellowArea {
  background-color: #f1db87;
  border: 1px solid #f1db87; }

.purpleBar {
  background-color: #5e0e99; }

.purpleArea {
  background-color: #d8aef7;
  border: 1px solid #d8aef7; }

.pinkBar {
  background-color: #c70498; }

.pinkArea {
  background-color: #f58cdb;
  border: 1px solid #f58cdb; }

.greyBar {
  background-color: #aaa8a9; }

.greyArea {
  background-color: #e5e0e4;
  border: 1px solid #e5e0e4; }

.palleteBar {
  display: none;
  margin: 0px;
  padding: 10px;
  background-color: white; }

.palleteBar ul {
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  justify-content: space-around; }

.palleteBar li {
  width: 22px;
  height: 22px;
  margin: 0px 1px 0px 1px;
  list-style-type: none;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer; }
