* {
  box-sizing: border-box;
}

body {

	height: 100%;
	width: 100%;
	overflow: hidden;

	// background-image: url("../assets/img/sample2.jpeg");
	background-size: cover;
  font-family: Lato, helvetica;
  font-size: 100%!important;

	.overlay {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	}

}


.linkNote {

	  display: flex;
	  justify-content: space-around;
	  /*----------------------------------------------------*/
	  /*Quick Links and Sticky Notes*/
	  /*----------------------------------------------------*/
	  	.quickLinks {

	  		display: flex;

	  		margin: 20px auto 0px 40px;

	  		.dropdownButton {

	  			display: flex;
	  			cursor: pointer;

	  		}

	  		p {


	  			margin: 0px 0px 0px 0px;
	  			padding: 10px 8px 8px 8px;

	  			font-size: 1.4em;
					color: rgba(255,255,255,.8);


	  		}

	  		i {

	  			margin: 6px 6px 6px 20px;
	  			padding: 0px;
					color: rgba(255,255,255,.6);
	  			font-size: 1.75em;

	  		}

	  		.quickDropdown {


	  			position: absolute;
	  			margin-top: 40px;
	  			padding: 20px;
	  			color: lightgrey;

	  			background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);

					border: 1px solid transparent;
	  			border-radius: 15px;

	  			transition: .5s;
	  			opacity: 0;/*Only properties with number values can be animated in CSS. Properties like display and visibilty do not have number values.*/

	  			input {

	  				display: block;
	  				width: 115px;
	  				padding: 2px;
	  				margin: 7px 0px 7px 0px;

	  				background-color: #333;
	  				font-weight: 700;
	  				border: 1px solid #333;
	  				border-radius: 5px;
	  				transition: .3s;

	  			}

	  			input:focus::placeholder {/*::placeholder is a selector that selects the content within the placehold attribute.*/

	  				color: #D9D9D9;
	  				transition: .3s;

	  			}

	  			#invisibleInput {

	  				opacity: 0;
	  				position: absolute;

	  			}

	  			button {

	  				margin: 0px;

	  			}

	  		}

	  		h3 {

	  			margin: 0px 0px 10px 0px;
	  			padding: 0px;

	  			font-size: 1.4em;
	  			font-weight: 300;

	  			border-bottom: 1px solid lightgrey;

	  		}

	  		ul {

	  			list-style-type: none;
	  			margin: 0px 0px 0px 0px;
	  			padding: 0px 0px 0px 0px;



	  		}

	  		li {

	  			margin: 10px 0px 10px 0px;
	  			padding: 0px;
	  			font-weight: 700;
	  			cursor: pointer;
					border-bottom: 1px solid transparent;

	  		}

	  		a {

	  			text-decoration: none;
	  			color: lightgrey;

	  		}

	  		li:hover {

	  			border-bottom: 1px solid white;

	  		}

	  		.addSite{

	  			padding: 3px;
	  			margin: 10px 0px 10px 0px;
	  			font-weight: 700;
	  			cursor: pointer;

	  			font-size: 1em;
					color: rgba(255,255,255,.6);
					background-color: rgba(0,0,0,.7);
	  			border: 1px solid lightgrey;
	  			border-radius: 5px;

	  		}

				.addSite:hover {
					background-color: rgba(255,255,255,.8);
					color: rgba(0,0,0,.7);
	  			border: 1px solid transparent;
				}
	  	}

			.quickLinks:hover {
				p {
					color: #FFF;
				}
				i {
					color: #FFF;
				}
			}



	  	.stickyNotes {

	  		display: flex;
	  		margin: 5px 30px 10px 10px;

	  		cursor: pointer;

	  		p {

	  			margin: 8px 0px;
	  			padding: 10px 5px 0px 0px;

	  			color: rgba(255,255,255,.6);
	  			font-size: 2em;

	  		}

	  		i {

	  			margin: 10px 0px 0px 10px;
	  			padding: 10px 0px 0px 0px;

					color: rgba(255,255,255,.6);
	  			font-size: 2.3em;

	  		}

	  	}

			.stickyNotes:hover {
				p {
					color: #FFF;
				}
				i {
					color: #FFF;
				}
			}

	  	.quickLinks:hover {

	  		.quickDropdown {

	  			opacity: 1;
	  			transition: .5s;

	  		}

	  	}

}

.clock-and-greeting {
	height: 75%;
	display: flex;
	flex-direction: column;
  justify-content: center;
}
/*----------------------------------------*/
/*Time and Pomodoro Display*/
/*----------------------------------------*/
.user-greeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  padding: 0px;
  margin: 0px 0px 20px 0px;

  color: white;
  font-size: 2em;

  h1 {
    padding: 0px;
    margin: 0px;
  }

  button {
    outline: none;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Lato, helvetica;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms ease;
  }
  button:hover {
    text-decoration: underline;
    transition: 300ms ease;
  }
}

#name-form {
  display: none;
}

#name-input {
  color: #fff;
  padding: .5%;
  margin: 1%;
  outline: none;
  background-color: hsla(0, 0, 0, .5);
  border-radius: 5px;
  border: none;
}

#name-submit {
  opacity: 0;
  position: absolute;
}

.time-display {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;

  font-weight: 700;
  color: white;
  font-size: 5.5em;

  p {
    padding: 0px;
    margin: 0;
  }
}

.toggle-pomodoro {
  display: flex;
  justify-content: center;

  button {
    padding: 3px 10px;
    border-radius: 3px;
    outline: none;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Lato, helvetica;
    font-size: 1.2em;
    font-weight: 600;
    transition: 300ms ease;
  }
  button:hover {
    background-color: hsla(0, 0, 0, 0.5);
    transition: 300ms ease;
  }
}

footer {

	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;

	p {

		margin: 60px 0px 0px 0px;
		padding: 0px;

		color: #D9D9D9;
		font-size: .9em;

		a {

			text-decoration: none;

			color: #D9D9D9;

		}

		a:hover {

			border-bottom: 1px solid #D9D9D9;

		}

	}

	.listArea {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 30%;
		// width: 277px;
		// margin: 40px 0px 0px 30px;
		margin: auto 0px;


		ul {

			display: flex;
			margin: auto 0px;
			padding: 0px;

			list-style-type: none;

			li {

				cursor: pointer;
				margin: auto;
				padding: 5px;

				i {

					margin: 0px;
					padding: 20px 20px 0px 20px;

					color: rgba(255,255,255,.6);
					font-size: 1.8em;
					transition: .5s;

				}

				.iconHover {

					opacity: 0;
					margin: 0px 20px;
					padding: 0px;

					color: #FFF;
					font-size: 1em;
					transition: .5s;
				}


			}

			li:hover {

				.iconHover {
					opacity: 1;
					visibility: visible;
					transition: .5s;
				}
				i {
					color: #FFF;
					transition: .5s;
				}

			}

		}

	}

}

.tools {
	display: flex;
	width: 30%;
	// width: 277px;
	margin: auto 0px;
	color: #D9D9D9;
}

// ********** COLOR PICKER RULES ************
.color-picker-panel {
	background: rgba(0,0,0,0.6);
	width: 310px;
	border-radius: 8px;
	border: 2px solid #444;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 80px;
	left: 20px;
}

.panel-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	margin: 0 10px 10px;
}
.panel-row:first-child {
	margin-top: 10px;
	margin-bottom: 6px;
}
.panel-row:after {
	content: "";
	display: table;
	clear: both;
}

.panel-header {
	background: #15191C;
	padding: 8px;
	margin: 0 -10px 10px;
	text-align: center;
}

.preview {
	border: 2px solid #444;
	border-radius: 4px;
	background: #ccc;
	width: 60px;
	height: 35px;
	margin-bottom: 5px;
}

.panel-col {
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.swatch {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: #ccc;
	border-radius: 4px;
	margin-left: 4px;
	margin-bottom: 4px;
	box-sizing: border-box;
	border: 2px solid #444;
	cursor: pointer;
}

.default-swatches {
	width: 212px;
}
.default-swatches .swatch:nth-child(6n + 1) {
	margin-left: 0px;
}

.color-cursor {
	border-radius: 100%;
	background: #ccc;
	box-sizing: border-box;
	position: absolute;
	pointer-events: none;
	z-index: 2;
	border: 2px solid #fff;
	transition: all .2s ease;
}
.color-cursor.dragging {
	transition: none;
}
.color-cursor#spectrum-cursor {
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	top: 0;
	left: 0;
}
.color-cursor#hue-cursor {
	top: 0;
	left: 50%;
	height: 20px;
	width: 20px;
	margin-top: -10px;
	margin-left: -10px;
	pointer-events: none;
}

.spectrum-map {
	position: relative;
	width: 212px;
	height: 200px;
	overflow: hidden;
}

#spectrum-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ccc;
}

.hue-map {
	position: absolute;
	top: 5px;
	bottom: 5px;
	right: 29px;
	width: 10px;
}

#hue-canvas {
	border-radius: 8px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ccc;
}

.tog-button {
	background: rgba(255,255,255,0.6);
	border: 0;
	border-radius: 4px;
	color: #303030;
	font-size: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	outline: none;
	cursor: pointer;
	padding: 4px;
}
.tog-button:active {
	background: #424242;
}
.tog-button.mode-toggle {
	width: 65px;
	height: 35px;
}

.value-fields {
	display: none;
	align-items: center;
}
.value-fields.active {
	display: flex;
}
.value-fields .field-label {
	margin-right: 5px;
	font-family: Lato, helvetica;
	font-size: 1rem;
}
.value-fields .field-input {
	background: rgba(0,0,0,0.7);
	border: 1px solid #444;
	box-sizing: border-box;
	border-radius: 2px;
	line-height: 38px;
	padding: 0 4px;
	text-align: center;
	color: #CBCBCB;
	display: block;
	outline: none;
}

.rgb-fields .field-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Lato, helvetica;
	font-size: 1rem;
}
.rgb-fields .field-input {
	width: 55px;
	margin-right: 10px;
}

.hex-field .field-input {
	width: 155px;
	font-family: Lato, helvetica;
	font-size: 1rem;
}

// ********** TOOLS RULES ************
.tools-container {
	background: rgba(0,0,0,0.6);
	width: 310px;
	border-radius: 8px;
	border: 2px solid #444;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	position: absolute;

	bottom: 80px;
	left: 110px;
	height: 115px;
	width: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tools-container button {
	padding: 5px;
	margin: 5px;

	color: rgba(255,255,255,0.7);
	background: transparent;
	border: 1px solid transparent;
	outline: none;

	font-family: Lato, Helvetica;
	font-size: 1.3em;
}

.tools-container button:hover {
  border-bottom: 1px solid rgba(255,255,255,0.7);
  cursor: pointer;
}

.valid-container {
	color: #C4C4C4;
	background: rgba(0,0,0,0.8);
	border-radius: 8px;
	border: 2px solid #444;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	position: absolute;

	display: flex;
	// display: none;
	flex-direction: column;
	// justify-content: center;
	align-items: center;


	height: 75vh;
	width: 75vw;
	bottom: 12.5vh;
	left: 12.5vw;
}

.instructions {
	display: flex;
	flex-direction: column;
	align-items: center;
	// height: 10%;
	width: 80%;
	padding: 5px;
	padding-bottom: 30px;

	h3, p {
		margin: 0px;
		padding: 5px;
	}
}

.formfields {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	overflow: scroll;
	width: 95%;
  height: 80%;

	legend {
		padding: 5px;
	}

	section {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin: 0px auto;
    width: 100%;
    overflow: scroll;

    border: 2px dotted green;
	}

	textarea {
		overflow: scroll;
    border: 2px dotted blue;
    width: 100%;
	}

	#check-code {
		margin-top: 5px;
		padding: 5px;
		background: transparent;
		outline: none;
		border: 1px solid #C4C4C4;
		border-radius: 5px;
		color: #C4C4C4;
		cursor: pointer;
	}

	#check-code:hover {
		background-color: rgba(255,255,255,.8);
		color: rgba(0,0,0,.7);
	}
}

.validate-form {
  border: 2px dotted orange;
  width: 100%;
}

#code-validated {
  // width: 100%;
  // max-width: 300px;
  max-height: 400px;
  white-space: pre-wrap;
  background: #FFF;
  color: #000;
  overflow: scroll;
  border: 2px dotted red;
}

.tools-icon-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0px;
	width: 100%;
	margin: 0px;
	list-style-type: none;

	li {
		display: flex;
		padding: 0px 20px;
		cursor: pointer;

		button {
			color: rgba(255,255,255,.6);
			font-size: 2.3em;
		}
	}
}

.tools-icon {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	color: #D9D9D9;
}

.tools-icon:hover {
	color: #FFF;
}

.addUrl {
	display: none;
}

// ********** NEWSFEED RULES ************

.newsfeed-wrapper {
  display: none;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 20%;
  right: 20%;
  background-color: hsla(0, 0, 0, 0.6);
}

.newsfeed {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.article {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  margin: 1% 0;
  padding: 1%;
  background-color: hsla(0, 0, 0, 0.9);
  > a {
    width: 20%;
    margin: 0;
    padding: 0;
    background-size: cover;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin-left: 2.5%;
    > a {
      margin: 1%;
      padding: 1%;
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
    }
    > a:hover {
      text-decoration: underline;
    }
    > p {
      margin: 1%;
      padding: 1%;
      color: #fff;
    }
  }
}
